node-red/flow_esp_to_influx.json
[{"id":"27a93be2.f2d204","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3215c68b.4218ca","type":"mqtt in","z":"27a93be2.f2d204","name":"esp_status","topic":"esp/+/status/#","qos":"2","datatype":"auto","broker":"44da7164.85e3","x":210,"y":180,"wires":[["79da4637.7dbd78","2c8aef45.f132b"]]},{"id":"3946e32c.37b5cc","type":"influxdb out","z":"27a93be2.f2d204","influxdb":"986b868b.bf2668","name":"to_influx","measurement":"weather","precision":"","retentionPolicy":"","x":680,"y":180,"wires":[]},{"id":"79da4637.7dbd78","type":"function","z":"27a93be2.f2d204","name":"map_to_influx","func":"// parse topic for device + metric nature\n// topic : esp/+/status/# with deviceid then metric\n// payload : the value\n\nvar regex = /[^\\/]+\\/([^\\/]+)\\/status\\/([^\\/]+)/;\nvar matches = msg.topic.match(regex);\n\n// build new payload\nvar tag={};\ntag.device=matches[0];\nvar field={};\nfield[matches[1]]=msg.payload;\n\nmsg.original_payload=msg.payload;\nmsg.payload=[field, tag];\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["3ce6b3a0.23338c","3946e32c.37b5cc"]]},{"id":"2c8aef45.f132b","type":"debug","z":"27a93be2.f2d204","name":"input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":340,"y":280,"wires":[]},{"id":"3ce6b3a0.23338c","type":"debug","z":"27a93be2.f2d204","name":"maped","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":280,"wires":[]},{"id":"44da7164.85e3","type":"mqtt-broker","z":"","name":"pi4-mosquitto","broker":"pi4-1","port":"1883","clientid":"node-red-pi4","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"986b868b.bf2668","type":"influxdb","z":"","hostname":"pi4-1","port":"8086","protocol":"http","database":"home_db","name":"telemetry_home","usetls":false,"tls":""}]