node-red/flow_esp_to_influx.json
[{"id":"27a93be2.f2d204","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"44da7164.85e3","type":"mqtt-broker","z":"","name":"pi4-mosquitto","broker":"mosquitto","port":"1883","clientid":"node-red-pi4","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"986b868b.bf2668","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"home_db","name":"telemetry_home","usetls":false,"tls":""},{"id":"3215c68b.4218ca","type":"mqtt in","z":"27a93be2.f2d204","name":"esp_status","topic":"esp/+/status/#","qos":"2","datatype":"auto","broker":"44da7164.85e3","x":210,"y":180,"wires":[["79da4637.7dbd78","2c8aef45.f132b"]]},{"id":"3946e32c.37b5cc","type":"influxdb out","z":"27a93be2.f2d204","influxdb":"986b868b.bf2668","name":"to_influx","measurement":"weather","precision":"","retentionPolicy":"","x":820,"y":180,"wires":[]},{"id":"79da4637.7dbd78","type":"function","z":"27a93be2.f2d204","name":"map_to_influx","func":"// parse topic for device + metric nature\n// topic : esp/+/status/# with deviceid then metric\n// payload : the value\n\nvar regex = /[^\\/]+\\/([^\\/]+)\\/status\\/([^\\/]+)/;\nvar matches = msg.topic.match(regex);\n\n// build new payload\nvar tag={};\ntag.device=matches[1];\nvar field={};\nfield[matches[2]]=Number(msg.payload);\n\nmsg.matches=matches;\nmsg.original_payload=msg.payload;\nmsg.payload=[field, tag];\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["3ce6b3a0.23338c","3946e32c.37b5cc"]]},{"id":"2c8aef45.f132b","type":"debug","z":"27a93be2.f2d204","name":"input","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":340,"y":280,"wires":[]},{"id":"3ce6b3a0.23338c","type":"debug","z":"27a93be2.f2d204","name":"maped","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":280,"wires":[]},{"id":"dab4502.bcb2f3","type":"mqtt in","z":"27a93be2.f2d204","name":"tasmota_sensor","topic":"tele/+/SENSOR","qos":"2","datatype":"auto","broker":"44da7164.85e3","x":230,"y":460,"wires":[["1752b611.91ed12","feb2f997.74208"]]},{"id":"1752b611.91ed12","type":"function","z":"27a93be2.f2d204","name":"map_to_influx","func":"// parse topic for device + metric nature\n// topic : esp/+/status/# with deviceid then metric\n// payload : the value\n\nvar regex = /tele\\/(tasmota_)?([^\\/]+)\\/SENSOR/;\nvar matches = msg.topic.match(regex);\n// adjust some metric names\nlet metricNaming={\n    \"illuminance\": 'light',\n    \"uvlevel\": 'UV'\n};\n\n// build new payload\nvar tag={};\nvar field={};\n\ntag.device=matches[2];\nvar data = JSON.parse(msg.payload);\n\n// Collect all sensors data + tags\nfor (let [key, value] of Object.entries(data)) {\n    if(typeof value === 'object') {\n        // Embedding sensor data\n        for (let [teleKey, teleValue] of Object.entries(value)) {\n          var metricName=teleKey.toLowerCase();\n          if(metricNaming[metricName]){\n              metricName=metricNaming[metricName];\n          }\n          field[metricName]=teleValue;\n        }\n    } else {\n        // Use as tag\n        var tagName=key.toLowerCase();\n        if('time' !== tagName){\n            // avoid reserved tag name\n            tag[tagName]=value;\n        }\n    }\n}\n\nmsg.matches=matches;\nmsg.original_payload=msg.payload;\nmsg.payload=[field, tag];\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":460,"wires":[["fdd3971a.f12f38","3946e32c.37b5cc"]]},{"id":"fdd3971a.f12f38","type":"debug","z":"27a93be2.f2d204","name":"tasmota_mapped","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":640,"wires":[]},{"id":"feb2f997.74208","type":"debug","z":"27a93be2.f2d204","name":"tasmota_src","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":440,"y":640,"wires":[]}]